/* General */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.bootstrap-timepicker-widget input {
  border: 1px solid #eee;
}
.icon-time {
  background-position: -48px -24px;
}
input[type="text"].timepicker {
  width: 60px!important;
  border-bottom: none!important;
  margin-left: 3px;
}
.bootstrap-timepicker {
  float: right;
}
html {
  height: 100%;
}
body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.4em;
  height: inherit;
  -webkit-font-smoothing: antialiased;
}
:focus {
  outline: none;
}
.pop {
  cursor: pointer;
}
.popover {
  max-width: 500px;
  width: 600px;
}
.light {
  font-weight: 300;
}
.loading {
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../images/preloader.gif") no-repeat center center;
}
.btn {
  background: #1d2027;
  color: #fff;
}
.btn:hover,
.btn:focus {
  border: 1px solid #eee;
  color: #fff;
}
.btn-alt {
  background: #45c8dc;
}
.btn-alt:hover,
.btn-alt:focus {
  background: #3fb4c6;
}
.cluster {
  background: #E55055;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #b23a3e;
}
.cluster-3 {
  font-size: 1.5em;
}
.cluster-2 {
  font-size: 1.35em;
}
.cluster-1 {
  font-size: 1.2em;
}
.ui-sortable-placeholder {
  background: #fefefe!important;
  border: 1px dashed #888!important;
  visibility: visible!important;
}
/* Custom select */
label.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select select {
  display: inline-block;
  padding: 5px 35px 5px 0;
  margin: 0;
  border: 0;
  border-bottom: 1px dashed #cacaca;
  font: inherit;
  outline: none;
  line-height: 1.2;
  width: 100%;
  -webkit-appearance: none;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: inherit;
}
.custom-select.disabled select {
  border-bottom: 0;
}
.custom-select.disabled:after {
  visibility: hidden;
}
/* Select arrow styling */
.custom-select:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 80%;
  line-height: 30px;
  padding: 0 7px;
  background: #ff4f5c;
  color: white;
  pointer-events: none;
}
.no-pointer-events .custom-select:after {
  content: none;
}
/* Header */
#logo {
  font-weight: 300;
  color: #fff;
  font-size: 1.4em;
  padding: 20px;
  height: 70px;
  background: #3fb4c6;
  width: 100%;
  text-align: center;
}
#logo strong {
  font-weight: 700;
}
#logo a {
  color: #fff;
}
.top-bar {
  background: #45c8dc;
  border: none;
  height: 70px;
  padding: 17px 25px;
  z-index: 1000;
}
.top-bar h1 {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  float: left;
  margin: 10px 0 0;
}
.top-bar .main-search {
  float: right;
  margin: 6px 25px 0 0;
  position: relative;
}
.top-bar .main-search input {
  background: #333;
  opacity: 0.6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 10px 4px 35px;
}
.top-bar .main-search input:focus {
  opacity: 0.9;
}
.top-bar .main-search .glyphicon-search {
  position: absolute;
  color: #fff;
  left: 10px;
  top: 6px;
  cursor: pointer;
}
.top-bar .secondary-menu {
  float: right;
  margin: 10px 42px 0 0;
  border-left: 1px solid #666;
}
.top-bar .secondary-menu a {
  background: none;
  border: none;
  color: #333;
  opacity: 0.6;
  font-size: 1.1em;
  margin-left: 20px;
}
.top-bar .secondary-menu a:hover {
  text-decoration: none;
  color: #111;
  opacity: 1;
}
.top-bar .spinner {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 25px;
  text-align: center;
  font-size: 10px;
}
.top-bar .spinner > div {
  height: 100%;
  width: 3px;
  display: inline-block;
  background: #fff;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.top-bar .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.top-bar .spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.top-bar .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.top-bar .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* Main */
.main-container {
  height: inherit;
}
.main-container .main-row {
  height: inherit;
}
.main-container .main-row .main {
  overflow: hidden;
  padding: 0;
  height: inherit;
}
.main-container .main-row .main .view-frame {
  height: inherit;
}
.main-container .main-row .main .view-frame .controller {
  height: inherit;
}
.main-container .main-row .main .list {
  height: inherit;
  padding: 0;
  background: #9fabb0;
}
.main-container .main-row .main ul.item-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 90%;
  height: calc(100% - 187px);
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #eee;
}
.main-container .main-row .main ul.item-list > li {
  border-top: 1px solid #dcdedd;
  cursor: pointer;
  background: #f8f8f8;
  color: #666;
  overflow: hidden;
}
.main-container .main-row .main ul.item-list > li .badge {
  background: #45c8dc;
  color: #fff;
  cursor: pointer;
}
.main-container .main-row .main ul.item-list > li.active {
  background: #bf3b45;
}
.main-container .main-row .main ul.item-list > li.active > .labels {
  background: #ff4f5c;
  color: #fff;
}
.main-container .main-row .main ul.item-list > li.active > .labels .itemName {
  font-weight: 700;
}
.main-container .main-row .main ul.item-list > li.active > .labels .itemDescription {
  color: #eee;
}
.main-container .main-row .main ul.item-list > li.active > .labels:hover {
  background: #ff4f5c;
  color: #fff;
}
.main-container .main-row .main ul.item-list > li.active > .labels .badge {
  background: #fff;
  color: #666666;
}
.main-container .main-row .main ul.item-list > li > .controls {
  float: left;
  width: 35px;
  padding: 17px 0;
  text-align: center;
}
.main-container .main-row .main ul.item-list > li > .labels {
  float: left;
  padding: 18px 10px 16px;
  width: calc(100% - 35px);
}
.main-container .main-row .main ul.item-list > li > .labels.full {
  width: 100%;
}
.main-container .main-row .main ul.item-list > li > .labels:hover {
  background: #d6d6d6;
}
.main-container .main-row .main ul.item-list > li > .labels .itemDescription {
  font-size: 0.8em;
  color: #aaa;
  float: left;
  clear: left;
}
.main-container .main-row .main ul.item-list > li ul.sublist {
  clear: left;
  list-style: none;
  background: #fff;
  padding: 0;
  margin: 0;
}
.main-container .main-row .main ul.item-list > li ul.sublist li {
  margin: 0;
  border-left: 5px solid #3fb4c6;
  overflow: hidden;
  padding: 5px;
}
.main-container .main-row .main ul.item-list > li ul.sublist li:nth-child(2n) {
  background: #f1f1f1;
}
.main-container .main-row .main ul.item-list > li ul.sublist li .controls {
  float: left;
  width: 25px;
  text-align: center;
  padding: 3px 0;
}
.main-container .main-row .main ul.item-list > li ul.sublist li .labels {
  float: left;
  width: calc(100% - 25px);
  padding: 5px 0;
  font-size: 0.9em;
}
.main-container .main-row .main ul.item-list > li ul.sublist li:hover {
  background: #ff4f5c;
  color: #fff;
}
.main-container .main-row .main ul.item-list > li ul.sublist li.active {
  background: #45c8dc;
  color: #fff;
}
.main-container .main-row .main .item-panel {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px 20px;
  background: #fbfbfb;
  height: 90%;
  height: calc(100% - 70px);
}
.main-container .main-row .main .item-panel.trips {
  padding: 0;
}
.main-container .main-row .main .item-panel.idle {
  background: #fbfbfb url("../images/notepad.png") no-repeat center center;
}
.main-container .main-row .main .item-panel .actions {
  float: right;
  margin-right: 30px;
}
.main-container .main-row .main .item-panel .actions .tip {
  cursor: pointer;
  color: #686d77;
  font-weight: 700;
  font-size: 1.2em;
  margin-left: 5px;
}
.main-container .main-row .main .item-panel .actions .glyphicon-trash:hover,
.main-container .main-row .main .item-panel .actions .glyphicon-remove:hover {
  color: #ff4f5c;
}
.main-container .main-row .main .item-panel .actions .glyphicon-tags:hover {
  color: #3fb4c6;
}
.main-container .main-row .main .item-panel .actions .glyphicon-pencil:hover,
.main-container .main-row .main .item-panel .actions .glyphicon-ok:hover {
  color: #3fb4c6;
}
.main-container .main-row .main .item-panel input[type=text] {
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px dashed #cacaca;
}
.main-container .main-row .main .item-panel input[type=text]:disabled {
  border: none;
  border-bottom: 1px solid #fbfbfb;
}
.main-container .main-row .main .item-panel input[type=text].datepicker {
  width: 100%;
}
.main-container .main-row .main .item-panel .title {
  font-weight: 700;
  font-size: 1.6em;
  padding: 0;
  margin: 0;
  color: #686d77;
}
.main-container .main-row .main .item-panel .item-details {
  margin: 20px 0;
  font-size: 1em;
  color: #777;
}
.main-container .main-row .main .item-panel .item-details .item-group {
  margin-bottom: 15px;
}
.main-container .main-row .main .item-panel .item-details .item-group .title {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
  background: #3fb4c6;
  display: inline-block;
  padding: 2px 5px;
  float: left;
  margin-bottom: 10px;
}
.main-container .main-row .main .item-panel .item-details .item {
  overflow: hidden;
  clear: left;
  margin: 4px 0 4px 10px;
}
.main-container .main-row .main .item-panel .item-details .item .key {
  float: left;
  margin-right: 10px;
  min-width: 120px;
}
.main-container .main-row .main .item-panel .item-details .item .value {
  float: left;
  width: calc(100% - 130px);
  margin-bottom: 0;
}
.main-container .main-row .main .item-panel .item-details .stop_times {
  margin: 0;
  padding: 0;
}
.main-container .main-row .main .item-panel .item-details .stop_times .addnew {
  padding: 10px;
  background: #f0f0f0;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 10px;
}
.main-container .main-row .main .item-panel .item-details .stop_times .addnew:hover {
  background: #3fb4c6;
  color: #fff;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li {
  padding: 10px;
  background: #f0f0f0;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-box-shadow: inset 0px 0px 38px 1px rgba(143, 143, 143, 0.1);
  -moz-box-shadow: inset 0px 0px 38px 1px rgba(143, 143, 143, 0.1);
  box-shadow: inset 0px 0px 38px 1px rgba(143, 143, 143, 0.1);
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li:hover {
  -webkit-box-shadow: inset 0px 0px 38px 1px rgba(143, 143, 143, 0.4);
  -moz-box-shadow: inset 0px 0px 38px 1px rgba(143, 143, 143, 0.4);
  box-shadow: inset 0px 0px 38px 1px rgba(143, 143, 143, 0.4);
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li .left {
  float: left;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li .left .seq {
  float: left;
  background: #45c8dc;
  padding: 5px 8px;
  color: #fff;
  font-weight: bold;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li .left .name {
  float: left;
  margin-left: 15px;
  font-weight: bold;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li .left .id {
  float: left;
  clear: left;
  font-weight: 300;
  margin-left: 15px;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li .right {
  float: right;
  text-align: right;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li .right th {
  text-align: right;
  color: #444;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li .right td {
  width: 80px;
}
.main-container .main-row .main .item-panel .item-details .stop_times ul li .right td input {
  text-align: center;
  width: 100%;
}
.main-container .main-row .main .item-panel .item-details .stop_times .activeSortable {
  cursor: move;
}
.main-container .main-row .main .item-panel .item-details .subcat-actions {
  float: left;
  margin-left: 10px;
}
.main-container .main-row .main .item-panel .item-details .subcat-actions .action {
  color: #333;
  cursor: pointer;
  margin-right: 5px;
}
.main-container .main-row .main .item-panel .item-details .subcat-actions .action:hover {
  color: #45c8dc;
}
.main-container .main-row .main .item-panel .item-details .map {
  height: 400px;
  margin: 10px 0;
  width: 100%;
  max-width: none;
  clear: left;
  border: 5px solid #aaa;
}
.results-actions {
  width: 100%;
  background: #262a33;
  overflow: hidden;
}
.results-actions .sorting {
  padding: 10px 0 10px 10px;
  float: left;
}
.results-actions .item-buttons {
  padding: 10px 10px 10px 0;
  float: right;
}
.results-actions #toggle-map {
  background: #eee;
}
.results-actions #results-map {
  height: 300px;
  width: 100%;
}
.search {
  padding: 15px 20px;
  background: #fbfbfb;
  box-shadow: 0px 11px 15px -11px #cccccc;
  z-index: 300;
  position: relative;
  border-right: 1px solid #eee;
}
.search .glyphicon-search {
  color: #aaa;
  font-size: 1.5em;
  margin-top: 5px;
  float: left;
}
.search .glyphicon-remove {
  right: 20px;
  color: #666;
  cursor: pointer;
  display: hidden;
}
.search input {
  font-family: Arial, sans-serif;
  border: none;
  background: none;
  border-bottom: 1px solid #bac0cc;
  padding: 6px 0;
  margin-left: 12px;
  width: calc(100% - 53px);
}
/* Trips page */
.trips .trip_action_bar {
  background: #262a33;
  padding: 10px;
  height: 54px;
  width: 100%;
  text-align: right;
}
.trips .trip_detail {
  padding: 30px 20px;
}
.trips .trips_in_route_list.drop ul {
  text-align: center;
  height: calc(100% - 54px);
  overflow: scroll;
  border-bottom: 10px solid #1d2027;
  border-top: none;
  position: absolute;
  right: 0;
  min-width: 300px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.trips .trips_in_route_list.drop ul.active {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.1s ease-in-out;
}
.trips .trips_in_route_list.drop ul li {
  display: block;
  padding: 10px;
  text-align: left;
  margin: 0;
}
.trips .trips_in_route_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #262a33;
  text-align: center;
}
.trips .trips_in_route_list ul li {
  padding: 8px 8px;
  background: #1d2027;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  margin: 6px 2px;
}
.trips .trips_in_route_list ul li:hover {
  background: #ff4f5c;
  color: #fff;
}
/* Animations */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* Sidebar */
.sidebar {
  padding: 0;
  background-color: #262a33;
  height: inherit;
}
.nav-sidebar {
  padding: 0 0 15px;
  margin: 0;
}
.nav-sidebar:last-child {
  border: 0;
}
.nav-sidebar li {
  background: #1d2027;
}
.nav-sidebar li > a {
  color: #7e8490;
  font-size: 0.85em;
  font-weight: bold;
  padding: 13px 25px;
  text-transform: uppercase;
}
.nav-sidebar li > a:hover {
  background: #262a33;
  color: #fff;
}
.nav-sidebar li.active a {
  color: #fff;
  background: #262a33;
  border-left: 3px solid #3fb4c6;
}
/* Footer */
/* Pages */
/* Import */
.upload {
  margin: 30px 2px;
}
input.import_choose {
  margin-bottom: 20px;
}
.my-drop-zone {
  border: dotted 3px lightgray;
}
.ng-file-over {
  border: dotted 3px green;
}
/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}
/* DASHBOARD */
.dashboard {
  padding: 30px;
}
.dashboard .panel h4 {
  font-weight: 700;
}
.dashboard .panel.bg-primary {
  background-color: #43a8eb;
  color: #fff;
}
.dashboard .panel.bg-red {
  background-color: #ff4f5c;
  color: #fff;
}
