<div class="dashboard controller" ng-controller="dashboardPageController">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1>Hello there!</h1>
				<p>This is the starting point of your open world.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel bg-red">
				<div class="panel-body text-center">
					<h4>{{agencies.length}}</h4>
					<p>Agencies</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel bg-red">
				<div class="panel-body text-center">
					<h4>{{stops.length}}</h4>
					<p>Stops</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel bg-red">
				<div class="panel-body text-center">
					<h4>{{routes.length}}</h4>
					<p>Routes</p>
				</div>
			</div>
		</div>
	</div>
</div>